<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ToDo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('nav.html') %>
    <div style="margin-top: 10px" class="container input-group mb-2">
      <input class="form-control" id="searchInput" />
      <button class="input-group-append btn btn-danger" id="search">
        검색
      </button>
    </div>
    <div class="card">
      <div class="card-header">검색 결과입니다.</div>
      <% for (let i = 0; i < posts.length; i++) { %>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <a
              style="text-decoration: none; color: black"
              href="/detail/<%= posts[i]._id %>"
              ><%= posts[i].제목%></a
            >
          </h3>
          <h5 class="card-title"><%= posts[i].날짜%></h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>

          <a class="btn btn-primary edit" href="/edit/<%= posts[i]._id %>"
            >수정</a
          >
          <!--html에서 숨겨진 데이터값 집어넣는 방법 data-id -->
          <a class="btn btn-primary delete" data-id=" <%= posts[i]._id %>"
            >삭제</a
          >
        </div>
      </div>
      <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- 삭제 버튼을 누르면 해당하는 글을 삭제 -->
    <script>
      $(".delete").click(function (e) {
        let 글번호 = e.target.dataset.id;
        $.ajax({
          method: "DELETE",
          url: "/delete",
          data: { _id: 글번호 },
        })
          .done(function (결과) {
            location.reload();
          })
          .fail(function (xhr, textStatus, errorThrown) {
            console.log(xhr, textStatus, errorThrown);
          });
      });
    </script>
    <!-- 삭제 버튼을 누르면 해당하는 글을 삭제 -->

    <!-- 검색버튼 기능 검색 버튼을 누르면 url이 바뀌어서 겟요청 -->
    <script>
      $("#search").click(function () {
        let 입력값 = $("#searchInput").val();
        window.location.replace(`/search?value=${입력값}`);
      });
    </script>
    <!-- 검색버튼 기능 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
